*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
}

.bck-grd {
    min-height: 100vh;
    background-image: url(../IMG/back2_n.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: #f8dccb;
    padding: 15px 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;

}
header .logo img{
    border-radius: 10px;
}
nav a{
    font-size: 18px;
    text-transform: capitalize;
    margin: 10px;
    padding: 5px;
    color: rgba(0, 0, 0, 0.739);
    font-weight: 500;
    border-bottom: solid transparent 3px;
    transition: .3s ease;
}
nav a:hover{
    border-bottom: solid #f4690ccf 2px;
}
.btn{
    display: block;
    padding: 10px 20px;
    background-color:  #f4690c;
    color: #fff;
    border-radius: 10px;
    transition:  .3s ease;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    transition: .3s ease;
}
@media (max-width:898px) {
    header{
        padding: 15px 6%;
        transition: .3s ease;
        background-color: #f8dccb;
    } 
    nav a{
        margin: 3px;
        transition: .3s ease;
        font-size: 18px;
    }
    .btn{
        font-size: 18px;
    }
    .btnu{
        padding: 0 30px;
        transition: .3s ease;
     }
    .content{
        padding: 1px;
        margin-top: 180px;
    }
   
}
@media (max-width:800px){
    .logo{
        padding: 0px 50px;
        transition: .3s ease;
    }
    .btnu{
       padding: 0 40px;
       transition: .3s ease;
    }
    .btn{
        font-size: 18px;
    }

}
@media (max-width:886px){
    header nav {
        position: absolute;
        left:0;
        top:90%;
        width: 100%;
        background-color: #fff0f3;
        transition: .3s ease;
        padding: 15px 0px;
        z-index: -100%;

    }
    .btn{
    
        transition: .3s ease;
    }
    .btn{
        font-size: 18px;
    }
    .btnu{
        padding: 0 30px;
        transition: .3s ease;
     }
     nav{
        text-align: center;
     }
}

.btn:hover{
    transform: scale(1.1);
}
section{
    padding: 6%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    text-align: center;
    position: relative;

}
.Intro{
    background-color: rgba(0, 0, 0, 0.474);
    width: 100%;
}
.content h1{
    font-size: 65px;
    color: rgb(255, 194, 137);
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 500;
}
.content p{
    font-size: 20px;
    line-height: 1.4;
    color: rgb(255, 255, 255);
    margin: 20px 30px;
}

.content h2{
    
    color: rgb(255, 194, 137);
}
@media (max-width:666px){
    .content p{
        font-size: 15px;
        margin: 10px 15px;

    }
    .content h1{
        font-size: 40px;
    }
}
.fondatrice{
    background-color: #fff;
  height: 100%;
}
/*FIN HED*/
.foot{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    background-color: #0a1128;

}
.foot1{
    background-color: #f6f6f618;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
.foot1 span{
    font-size: 30px;
   padding: 10px 0px;
   font-weight: 600;
   color: #ffffff;
}
.foot1 p{
    font-size: 19px;
   padding: 10px 0px;
  font-weight: 200;
   color: #ffffffb8;
}
.foot1 img{
    border-radius: 20px;
    margin-top: 20px;
}
.foot2{
    background-color: #f8dccb18;
}
.foot2 span{
    font-size: 30px;
    padding: 10px 0px;
    font-weight: 600;
    color: #ffffff;
}
.foot2 b{
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
}
.foot3{
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #f8dccb18;
}
.foot3trois{
    display: grid;
    padding: 20px 10px;
    grid-gap: px;
    text-align: justify;
}
.foot3 span{
    font-size: 30px;
    padding: 50px 0px;
    font-weight: 600;
    color: #ffffffd3;
}
.foot3 p{
    font-size: 15px;
    color: #ffffffd3;
    padding: 20px 0px;
    font-weight: 200;
}
.fa-square-facebook{
    text-decoration: none;
    color: #3b5998;
    font-size: 50px;
}
.fa-linkedin{
    text-decoration: none;
    color: #0077B5;
    font-size: 50px;
}
.fa-facebook-f{
    text-decoration: none;
    color: #3b5998;
    font-size: 50px;
}
.fa-phone{
    text-decoration: none;
    color:#38b000;
    font-size: 23px;
}
.fa-envelope{
    text-decoration: none;
    color: #FBBC05;
    font-size: 23px;
}
.fa-phone-volume{
    text-decoration: none;
    color: #38b000;
    font-size: 23px;
}
.foot32{
    display: flex;
    align-items: center;
    padding: 0px 19px;
}
.foot32 p{
    padding: 0px 19px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 100;
    
}
.foot33{
    display: flex;
    align-items: center;
}
.foot33 p{
    padding: 0px px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 100;
}
.foot31{
    display: flex;
    align-items: center;
    padding: 15px 20px;
}
.foot31 p{
    padding: 0px 15px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 100;
}
.foot2deux p{
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 100;
}
    .foot2{
        text-align: center;
        padding: 10px 0px;
        border-radius: 10px;
    }
    .fot2 h2{
        padding: 10px 0px;
    }
    .foot2deux{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        padding: 20px;
    }
    .prt{
        text-align: center;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-gap: 20px;
        padding: 30px 0px;
        align-items: center; 
        padding: 50px;
    }
    @media screen and (max-width: 948px){
        .foot1{
      grid-column: 1/4;
        }
        .foo2{
            grid-column: 2/4;
            width: 100%;
              }
              .foo3{
                grid-column: 3/3;
                  }
                  .foot{
                    display: grid;
                    grid-template-columns:none;
                   
                }         
    }
    @media screen and (max-width:700px){
        .foot{
            display: grid;
            grid-template-columns:none;
           display: inline-block;
          text-align: center;
       margin: 0px 0px;
    
        } 
        .foot1 span{
            font-size: 25px;
           padding: 10px 0px;
           font-weight: 600;
           color: #ffffff;
        }
        .foot1 p{
            font-size: 17px;
           padding: 10px 0px;
          font-weight: 200;
           color: #ffffffb8;
        }
        .foot1 img{
            width: 130px;
        }
        .foot2 span{
            font-size: 25px;
            padding: 20px 0px;
            font-weight: 600;
            color: #ffffff;
        }
        .foot2deux{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 0px;
            padding: 20px;
        }
        .fa-square-facebook{
            text-decoration: none;
            color: #3b5998;
            font-size: 40px;
        }
        .fa-linkedin{
            text-decoration: none;
            color: #0077B5;
            font-size: 40px;
        }
        .fa-facebook-f{
            text-decoration: none;
            color: #3b5998;
            font-size: 40px;
        }
        .prt{
            text-align: center;
            display: grid;
            grid-template-columns: repeat(6,1fr);
            grid-gap: 10px;
            align-items: center; 
            padding: 10px;
        }
    
    
    }
    .offer-bloc{
        align-items: center;
        grid-gap: 50px;
       
       
    }
 .offer-bloc h2{
    text-align: center;
    font-size: 50px;
    color: #f4690c;
    font-weight: 600;
 }
 .Offre{
    padding: 30px;
 }

.aloha img{
    padding: 20px;
}
.offer-blocp{
    padding: 20px 25px;
}
.offer-blocp p{
    text-align: center;
    text-align: justify;
    padding-top: 20px;
    font-size: 19px;
    color: #000000;
    font-weight: 400;
}
.bact{
    padding: 100px 200px;
    text-align: justify;
    background-color: rgba(239, 193, 150, 0.28);
}
.bact p{
    font-size: 19px;
    color: #ffffff;
    font-weight: 400;
}
.backi{
    background-image: url(../IMG/coactforma.jpg);
    background-position: center;
}
@media  (max-width:770px) {
    .bact{
        padding: 20px 50px;
    }
    .bact p{
        color: #fff;
        font-size: 22px;
    }
}
.imgy{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    padding: 20px;
    text-align: center;
}
.imgy img{
    border-radius: 20px;
}
.imgy1 img{
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.729);
}
.imgy2 img{
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.729);
}
@media  (max-width:724px){
    .imgy{
        display:inline-block;
        grid-template-columns: none;
        grid-gap: 20px;
        padding: 20px;
    }
}
.form h1{
    text-align: center;
    font-size: 50px;
    color: #f4690c;
    font-weight: 600;
}
.formatio{
padding: 30px;
}

.form p{
    text-align: center;
    text-align: justify;
    padding-top: 20px;
    font-size: 19px;
    color: #000000;
    font-weight: 400;
}
.formty{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    padding: 20px;
}
.formtyimg1{
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.729);
}
.formtyimg2{
    background-color: #00000015;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    padding: 20px;
    align-items: center;
    border-radius: 10px;
}
.forme1 img{
    border-radius: 20px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.729);
}
.formtyimg1 h3{
    text-align: center;
    font-size: 25px;
    color: #2a6f97;
    font-weight: 500;
}
.formtyimg1 b{
    font-size: 20px;
}
.formtyimg1 p{
    text-align: center;
    text-align: justify;
    padding-top: 20px;
    font-size: 19px;
    color: #000000;
    font-weight: 400;
    padding: 10px;
}
.formp p{
    text-align: center;
    text-align: justify;
    padding-top: 20px;
    font-size: 19px;
    color: #000000;
    font-weight: 400;
}
@media  (max-width:999px){
    .forme1 img{
        border-radius: 20px;
        width: 200px;
    }
    .formtyimg1 h3{
        text-align: center;
    font-size: 20px;
    padding: 25px;
    }
    .formtyimg1 b{
        font-size: 18px;
    }
    .formtyimg1 p{
        font-size: 18px;
    }
    .formp p{
        font-size: 18px;
        padding: 18px;
    }
}
@media  (max-width:915px){
    .formty{
        display: inline-block;
        grid-template-columns:none;
        grid-gap: 10px;
        padding:0px;
    }
}
.Life h1{
    text-align: center;
    font-size: 50px;
    color: #f4690c;
    font-weight: 600;

}
.Life P{
    text-align: center;
    text-align: justify;
    padding-top: 20px;
    font-size: 19px;
    color: #000000;
    font-weight: 400;
}
.Life{
    padding: 30px;
    
}
.lifeimg{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    padding: 20px 50px;
    align-items: center;
}
.lifeimg1{
    background-image: url(../IMG/life.jpg);
    width: 100%;
    background-position: center;
    text-align: center;
    border-radius: 5px;
}

.lifeimg2 h1{
    text-align: center;
    font-size: 25px;
    color: #2a6f97;
    font-weight: 500;
}
.lifeimg2 p{
    text-align: center;
    text-align: justify;
    padding-top: 20px;
    font-size: 19px;
    color: #000000;
    font-weight: 400;
    
}
.lifep P{
    
    padding: 10px 50px;
    text-align: center;
    text-align: justify;
    padding-top: 20px;
    font-size: 19px;
    color: #000000;
    font-weight: 400;
}
@media  (max-width:887px){
    .lifeimg2 h1{
        text-align: center;
        font-size: 22px;
        padding: 10px;
    }
    .lifeimg2 p{
        color: #000000d4;
        text-align: justify;
        font-size: 18px;
    }
    .lifeimg1 img{
        width: 300px;
    }
}
@media  (max-width:887px){
    .lifeimg{
        display: inline-block;
        grid-template-columns: none;
        grid-gap: 20px;
        padding: 50px;
        align-items: center;
    }
}
.prf h1{
   
    text-align: center;
    font-size: 50px;
    color: #f4690c;
    font-weight: 600;
    
}
@media screen and (max-width:700px){
    .offer-bloc h2{
        text-align: center;
        font-size: 40px;
        color: #f4690c;
        font-weight: 600;
     }
     .form h1{
        text-align: center;
        font-size: 40px;
        color: #f4690c;
        font-weight: 600;
    }
    .Life h1{
        text-align: center;
        font-size: 40px;
        color: #f4690c;
        font-weight: 600;
    
    }
    .prf h1{
   
        text-align: center;
        font-size: 40px;
        color: #f4690c;
        font-weight: 600;
        
    }


}
.performance{
    padding: 50px;
}
.prf p {
   
    text-align: center;
    text-align: justify;
    padding-top: 20px;
    font-size: 19px;
    color: #000000;
    font-weight: 400;

}
.prfi{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    padding: 50px 0px;

}
.prfi1{
    background-color: rgba(0, 0, 0, 0.042);
    border-radius: 5px;
}
.prfi2{
   background-image: url(../IMG/perfornace.jpg);
   background-position: center;
   background-size: cover;
   border-radius: 5px;
}
.prfi1 h2{
    text-align: center;
    font-size: 25px;
    color: #2a6f97;
    font-weight: 500;
}
.prfi1 p{
    text-align: center;
    text-align: justify;
    padding-top: 20px;
    font-size: 19px;
    color: #000000;
    font-weight: 400;

}
@media  (max-width:887px){
    .prfi{
        display: inline-block;
        grid-template-columns: none;
        grid-gap: 10px;
        padding: 10px;
        align-items: center;
        background-image: url(../IMG/perfornace.jpg);
        background-position: center;
        background-size: cover;
        text-align: center;
    }
}
.prty p{
    text-align: center;
    text-align: justify;
    padding-top: 20px;
    font-size: 19px;
    color: #000000;
    font-weight: 400;

}
.prty{
    padding: 50px 50px;
}
b{
    font-size: 22px;
    color: #000000bd;
    font-weight: 700;
}
