*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.bck-grd{
    min-height: 100vh;
    background-image: url(../IMG/back2_n.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: #f8dccb;
    padding: 15px 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;

}
header .logo img{
    border-radius: 10px;
}
nav a{
    font-size: 18px;
    text-transform: capitalize;
    margin: 10px;
    padding: 5px;
    color: rgba(0, 0, 0, 0.739);
    font-weight: 500;
    border-bottom: solid transparent 3px;
    transition: .3s ease;
}
nav a:hover{
    border-bottom: solid #f4690ccf 2px;
}
.btn{
    display: block;
    padding: 10px 20px;
    background-color:  #f4690c;
    color: #fff;
    border-radius: 10px;
    transition:  .3s ease;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    transition: .3s ease;
}
@media (max-width:898px) {
    header{
        padding: 15px 6%;
        transition: .3s ease;
        background-color: #f8dccb;
    } 
    nav a{
        margin: 3px;
        transition: .3s ease;
        font-size: 18px;
    }
    .btn{
        font-size: 18px;
    }
    .btnu{
        padding: 0 30px;
        transition: .3s ease;
     }
    .content{
        padding: 1px;
        margin-top: 180px;
    }
   
}
@media (max-width:800px){
    .logo{
        padding: 0px 50px;
        transition: .3s ease;
    }
    .btnu{
       padding: 0 40px;
       transition: .3s ease;
    }
    .btn{
        font-size: 18px;
    }

}
@media (max-width:886px){
    header nav {
        position: absolute;
        left:0;
        top:90%;
        width: 100%;
        background-color: #fff0f3;
        transition: .3s ease;
        padding: 15px 0px;
        z-index: -100%;

    }
    .btn{
        transition: .3s ease;
    }
    .btn{
        font-size: 18px;
    }
    .btnu{
        padding: 0 30px;
        transition: .3s ease;
     }
     nav{
        text-align: center;
     }
}
@media (max-width:886px) {
    
}
.btn:hover{
    transform: scale(1.1);
}
section{
    padding: 6%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    text-align: center;
    position: relative;

}
.Intro{
    background-color: rgba(0, 0, 0, 0.474);
    width: 100%;
}
.content h1{
    font-size: 65px;
    color: rgb(255, 194, 137);
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 500;
}
.content p{
    font-size: 20px;
    line-height: 1.4;
    color: rgb(255, 255, 255);
    margin: 20px 30px;
}

.content h2{
    
    color: rgb(255, 194, 137);
}
.fondatrice{
    background-color: #fff;
  height: 100%;
}
@media (max-width:666px){
    .content p{
        font-size: 15px;
        margin: 10px 15px;

    }
    .content h1{
        font-size: 40px;
    }
}
/*FIN HED*/
.foot{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    background-color: #0a1128;

}
.foot1{
    background-color: #f6f6f618;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
.foot1 span{
    font-size: 30px;
   padding: 10px 0px;
   font-weight: 600;
   color: #ffffff;
}
.foot1 p{
    font-size: 19px;
   padding: 10px 0px;
  font-weight: 200;
   color: #ffffffb8;
}
.foot1 img{
    border-radius: 20px;
    margin-top: 20px;
}

.foot3{
    background-color: #f6f6f618;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
.foot2 span{
    font-size: 30px;
    padding: 10px 0px;
    font-weight: 600;
    color: #ffffff;
}
.foot3trois{
    display: grid;
    padding: 20px 10px;
    grid-gap: px;
    text-align: justify;
}
.foot3 h2{
    padding: 10px 0px;
}
.foot3 span{
    font-size: 30px;
    padding: 50px 0px;
    font-weight: 600;
    color: #ffffffd3;
}
.foot3 p{
    font-size: 15px;
    color: #ffffffd3;
    padding: 20px 0px;
    font-weight: 200;
}
.fa-square-facebook{
    text-decoration: none;
    color: #3b5998;
    font-size: 50px;
}
.fa-linkedin{
    text-decoration: none;
    color: #0077B5;
    font-size: 50px;
}
.fa-facebook-f{
    text-decoration: none;
    color: #3b5998;
    font-size: 50px;
}
.fa-phone{
    text-decoration: none;
    color:#38b000;
    font-size: 23px;
}
.fa-envelope{
    text-decoration: none;
    color: #FBBC05;
    font-size: 23px;
}
.fa-phone-volume{
    text-decoration: none;
    color: #38b000;
    font-size: 23px;
}
.foot32{
    display: flex;
    align-items: center;
    padding: 0px 19px;
}
.foot32 p{
    padding: 0px 19px;
    font-size: 14px;
}
.foot33{
    display: flex;
    align-items: center;
}
.foot33 p{
    padding: 0px px;
    font-size: 14px;
}
.foot31{
    display: flex;
    align-items: center;
    padding: 15px 20px;
}
.foot31 p{
    padding: 0px 15px;
    font-size: 14px;
}
.foot2deux p{
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 100;
}
    .foot2{
        background-color: #f6f6f618;
        text-align: center;
        padding: 10px 0px;
        border-radius: 10px;
    }
    .foot2 b{
        font-size: 20px;
        font-weight: 400;
        color: #ffffff;
    }
    .fot2 h2{
        padding: 10px 0px;
    }
    .foot2deux{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        padding: 20px;

    }
    .prt{
        text-align: center;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-gap: 20px;
        padding: 30px 0px;
        align-items: center; 
        padding: 50px;
    }
    @media screen and (max-width: 948px){
        .foot1{
      grid-column: 1/4;
        }
        .foo2{
            grid-column: 2/4;
            width: 100%;
              }
              .foo3{
                grid-column: 3/3;
                  }
                  .foot{
                    display: grid;
                    grid-template-columns:none;
                   
                }         
    }
    @media screen and (max-width:700px){
        .foot{
            display: grid;
            grid-template-columns:none;
           display: inline-block;
          text-align: center;
       margin: 0px 0px;
    
        } 
        .foot1 span{
            font-size: 25px;
           padding: 10px 0px;
           font-weight: 600;
           color: #ffffff;
        }
        .foot1 p{
            font-size: 17px;
           padding: 10px 0px;
          font-weight: 200;
           color: #ffffffb8;
        }
        .foot1 img{
            width: 130px;
        }
        .foot2 span{
            font-size: 25px;
            padding: 20px 0px;
            font-weight: 600;
            color: #ffffff;
        }
        .foot2deux{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 0px;
            padding: 20px;
        }
        .fa-square-facebook{
            text-decoration: none;
            color: #3b5998;
            font-size: 40px;
        }
        .fa-linkedin{
            text-decoration: none;
            color: #0077B5;
            font-size: 40px;
        }
        .fa-facebook-f{
            text-decoration: none;
            color: #3b5998;
            font-size: 40px;
        }
        .prt{
            text-align: center;
            display: grid;
            grid-template-columns: repeat(6,1fr);
            grid-gap: 10px;
            align-items: center; 
            padding: 10px;
        }
    
    
    }
    body{
        font-family: 'outfit';
        background-color:#67676720 ;
    }
    .contact-container{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .contact-left{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }
    .contact-left-title h2{
        font-size: 40px;
        color: #2a6f97;
        font-weight: 200;
    }
    .contact-left-title hr{
        border: none;
        width: 120px;
        height: 5px;
        background-color: #2a6f97b0;;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    .contact-inputs{
        width: 400px;
        height: 50px;
        border: none;
        outline: none;
        padding-left: 25px;
        font-weight: 500;
        color: #666;
        border-radius: 50px;
    }
    .contact-left textarea{
        height: 140px;
        padding-top: 15px;
        border-radius: 20px;
    }
    .contact-inputs:focus{
        border: 2px solid #70d6ff;
    }
    .contact-inputs::placeholder{
        color: #666;
    }
    .contact-left button{
        display: flex;
        align-items: center;
        padding: 15px 30px;
        color: rgb(84, 84, 84);
        gap: 10px ;
        border: none;
        border-radius: 50px;
        background:linear-gradient(270deg,#bde0fe, #70fffa ) ;
        cursor: pointer;
    }
    .contact-right img{
        width: 500px;
        border-radius: 20px;
    }
    @media (max-width:800px) {
        .contact-inputs{
            width: 80vw;
        }
        .contact-right{
            display: none;
        }
    }
    .reg{
       margin-left: 115px;
       padding: 20px;
    }
    .reg h1{
        font-size: 50px;
        color: #f4690c;
        font-weight: 600;
    }
    .choix{
        display: grid;
        grid-gap: 50px;
        grid-template-columns: repeat(2,1fr);
        padding: 70px  115px ;
        align-items: center;
       
    }
    .choix1{
        background: linear-gradient(#1a465f7f,#743c1688);
        padding: 20px;
        border-radius: 20px;
    }
    .choix2{
        background-color: #0000000a;
        border-radius: 20px;
    }
.tchoix{
   text-align: center;
   padding: 20px 0px;
  
}
.tchoix h1{
    text-align: center;
    font-size: 50px;
    color: #2a6f97;
    font-weight: 600;
}
.choix1p2{
padding: 40px 100px;

}
.choix1p2 h2{
    font-size: 19px;
    color: #ffffff;
    font-weight: 500;
}
.choix1p1 h2{
    font-size: 19px;
    color: #ffffff;
    font-weight: 500;
    
}
.choix2{
    text-align: center;
}

.sommes{
    text-align: center;
}
.sommes h1{
    font-size: 30px;
    color: #f4690c;
    font-weight: 600;
}
@media (max-width:1250px) {
    .tchoix h1{
        font-size: 40px;
        text-transform: capitalize;
        letter-spacing: 1px;
        transition: .3s ease;
    }
    .reg{
        margin-left: 90px;
        padding: 15px;
        transition: .3s ease;
     }
     .reg h1{
         font-size: 60px;
         text-transform: capitalize;
         letter-spacing: 1px;
         transition: .3s ease;
     }
}
@media (max-width:1193px) {
    .choix1p2{
        padding: 40px 40px;
        transition: .3s ease;
        }
        .choix{
            display: grid;
            grid-gap: 20px;
            grid-template-columns: repeat(2,1fr);
            padding: 20px  50px ;
           
        }
        .reg{
            margin-left: 80px;
            padding: 15px;
            transition: .3s ease;
         }
         .reg h1{
             font-size: 50px;
             text-transform: capitalize;
             letter-spacing: 1px;
             transition: .3s ease;
         }

}
@media (max-width:910px) {

    .choix{
        display: grid;
        grid-template-columns:none;
       
    }
    .reg{
        margin-left: 70px;
        padding: 15px;
        transition: .3s ease;
     }
     .reg h1{
         font-size: 50px;
         text-transform: capitalize;
         letter-spacing: 1px;
         transition: .3s ease;
     }
}
.specialisation{
    padding: 50px 140px;
}
.specialisation p{
    text-align: center;
    text-align: justify;
    padding-top: 20px;
    font-size: 20px;
    color: #000000;
    font-weight: 400;
}
.specialisation h1{
    text-align: center;
    font-size: 50px;
    color: #2a6f97;
    font-weight: 600;
}
@media screen and (max-width:700px){
    .specialisation p{
        text-align: center;
        text-align: justify;
        padding-top: 20px;
        font-size: 18px;
        color: #000000;
        font-weight: 400;
    }
    .specialisation h1{
        text-align: center;
        font-size: 40px;
        color: #2a6f97;
        font-weight: 600;
    }
    .specialisation{
        padding: 50px 40px;
    }
    .reg h1{
        font-size: 40px;
        color: #f4690c;
        font-weight: 600;
    }
}
.bio{
    padding: 20px 70px;
}
.bio p{
    text-align: center;
    text-align: justify;
    padding-top: 20px;
    font-size: 20px;
    color: #000000ef;
    font-weight: 400;
}
.bio b{
    font-size: 25px;
    color: #2a6f97;
    font-weight: 700;
}